body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #211e1e;
  background-color: #f1f1f1;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.nav {
  background-color: #7200eb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  position: fixed;
  height: 85px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 700;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ nav {
  display: block;
}

.nav a:hover {
  color: #07dc3c;
}

.title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: white;
}

.title h1 {
  margin-left: -15px;
}

.titleWord {
  font-size: 24px;
  font-weight: bold;
  color: 333333;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.title img {
  width: 100px;
  height: 57px;
  border-radius: 0;
  margin-right: 0;
  margin-left: 17px;
}

/*contacto*/

.contact {
  background-image: url(/images/bannerReal.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 100px;
}
.contactate {
  padding-top: 235px;
  text-align: center;
  color: #4db33f;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 200px;
  font-weight: 200;
}

.form-contact {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.message {
  width: 40%;
}

.form-contact {
  background: #f1f1f1;
  padding: 70px 0 70px 0;
}

.form-contact p {
  font-size: 2rem;
  font-weight: bold;
  color: #378d03;
}
.form-container {
  display: flex;
}

.form {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.form-control {
  width: 600px;
}

.form-contact .form-container .form-control {
  background: transparent;
  border: none;
  color: #000000;
  margin-bottom: 15px;
  border-bottom: solid 1px #77be05;
  border-radius: 0;
}

.form-contact .form-container .btn-send {
  color: #07dc3c;
  background: #fff;
  border-radius: 8px;
  font-weight: 800;
  padding: 8px 50px;
  float: right;
}

footer {
  background-color: #7200eb;
  color: white;
  padding: 20px;
  font-weight: bold;
}

footer p {
  margin-bottom: 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
  margin-right: 8px;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 22px;
    cursor: pointer;
    font-size: 24px;
    color: white;
  }

  nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #7200eb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-direction: column;
  }

  nav a {
    margin-bottom: 10px;
  }

  .section {
    flex-direction: column;
  }

  .section-text,
  .section-img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .section-btn {
    max-width: 100%;
  }

  .contact {
    background-image: url(/images/bannerReal.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 100px;
    background-position: center;
  }
  .contactate {
    padding-top: 235px;
    text-align: center;
    color: #112e04;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 200px;
    font-weight: 200;
  }

  .form-contact {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .message {
    width: 73%;
  }

  .form-contact {
    background: #f1f1f1;
    padding: 70px 0 70px 0;
  }

  .form-contact p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #378d03;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .form {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .form-control {
    width: 600px;
  }

  .form-contact .form-container .form-control {
    background: transparent;
    border: none;
    color: #77be05;
    margin-bottom: 15px;
    border-bottom: solid 1px #77be05;
    border-radius: 0;
  }

  .form-contact .form-container .btn-send {
    color: #07dc3c;
    background: #fff;
    border-radius: 8px;
    font-weight: 800;
    padding: 8px 50px;
    float: right;
  }

  .footer {
    flex-direction: column;
  }

  .footer a {
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 26px;
    cursor: pointer;
    font-size: 24px;
    color: white;
  }

  nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #7200eb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-direction: column;
  }

  nav a {
    margin-bottom: 10px;
  }

  .section {
    flex-direction: column;
  }

  .section-text,
  .section-img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .section-btn {
    max-width: 100%;
  }

  .contact {
    background-image: url(/images/bannerReal.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 100px;
    background-position: center;
  }
  .contactate {
    padding-top: 235px;
    text-align: center;
    color: #112e04;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 200px;
    font-weight: 200;
  }

  .form-contact {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .message {
    width: 100%;
  }

  .form-contact {
    background: #f1f1f1;
    padding: 70px 0 70px 0;
  }

  .form-contact p {
    font-size: 1.3rem;
    font-weight: bold;
    color: #378d03;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .form {
    width: 63%;
    padding-right: 0;
    padding-left: 0;
  }

  .form-control {
    width: 600px;
  }

  .form-contact .form-container .form-control {
    background: transparent;
    border: none;
    color: #77be05;
    margin-bottom: 15px;
    border-bottom: solid 1px #77be05;
    border-radius: 0;
  }

  .form-contact .form-container .btn-send {
    color: #07dc3c;
    background: #fff;
    border-radius: 8px;
    font-weight: 800;
    padding: 8px 50px;
    float: right;
  }

  .footer {
    flex-direction: column;
  }

  .footer a {
    margin: 10px 0;
  }
}

@media (max-width: 569px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 22px 13px 0 0;
    cursor: pointer;
    font-size: 24px;
    color: white;
  }

  nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #7200eb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-direction: column;
  }

  nav a {
    margin-bottom: 10px;
  }

  .section {
    flex-direction: column;
  }
  .section-text,
  .section-img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .section-btn {
    max-width: 100%;
  }

  .contact {
    background-image: url(/images/bannerReal.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 100px;
    background-position: center;
  }

  .contactate {
    padding-top: 269px;
    text-align: center;
    color: #112e04;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 200px;
    font-weight: 200;
  }

  .form-contact {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .message {
    width: 100%;
  }

  .form-contact {
    background: #f1f1f1;
    padding: 0 0 70px 0;
  }

  .form-contact p {
    font-size: 1.3rem;
    font-weight: bold;
    color: #11641f;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .form {
    width: 50%;
    padding-right: 0;
    padding-left: 0;
  }

  .form-control {
    width: 600px;
  }

  .form-contact .form-container .form-control {
    background: transparent;
    border: none;
    color: #77be05;
    margin-bottom: 15px;
    border-bottom: solid 1px #77be05;
    border-radius: 0;
    width: 180%;
  }

  .form-contact .form-container .btn-send {
    color: #07dc3c;
    background: #fff;
    border-radius: 8px;
    font-weight: 800;
    padding: 8px 50px;
    float: right;
  }

  .footer {
    flex-direction: column;
  }

  .footer a {
    margin: 10px 0;
  }

  @media (max-width: 480px) {
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 22px 20px 0 0;
      cursor: pointer;
      font-size: 24px;
      color: white;
    }

    nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: #7200eb;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      flex-direction: column;
    }

    nav a {
      margin-bottom: 10px;
    }

    .section {
      flex-direction: column;
    }
    .section-text,
    .section-img {
      max-width: 100%;
      margin-bottom: 20px;
    }

    .section-btn {
      max-width: 100%;
    }

    .contact {
      background-image: url(/images/bannerReal.png);
      background-size: cover;
      background-repeat: no-repeat;
      height: 400px;
      width: 100%;
      margin-top: 120px;
      margin-bottom: 100px;
      background-position: center;
    }

    .contactate {
      padding-top: 269px;
      text-align: center;
      color: #112e04;
      text-transform: uppercase;
      font-size: 25px;
      line-height: 200px;
      font-weight: 200;
    }

    .form-contact {
      width: 90%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    .message {
      width: 100%;
    }

    .form-contact {
      background: #f1f1f1;
      padding: 0 0 70px 0;
    }

    .form-contact p {
      font-size: 1.3rem;
      font-weight: bold;
      color: #11641f;
    }

    .form-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: stretch;
    }

    .form {
      width: 95%;
      padding-right: 0;
      padding-left: 0;
    }

    .form-control {
      width: 600px;
    }

    .form-contact .form-container .form-control {
      background: transparent;
      border: none;
      color: #77be05;
      margin-bottom: 15px;
      border-bottom: solid 1px #77be05;
      border-radius: 0;
      width: 100%;
    }

    .form-contact .form-container .btn-send {
      color: #07dc3c;
      background: #fff;
      border-radius: 8px;
      font-weight: 800;
      padding: 8px 50px;
      float: right;
    }

    .footer {
      flex-direction: column;
    }

    .footer a {
      margin: 10px 0;
    }
  }

  @media (max-width: 280px) {
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 23px;
      cursor: pointer;
      font-size: 24px;
      color: white;
    }

    nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: #7200eb;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      flex-direction: column;
    }

    nav a {
      margin-bottom: 10px;
    }

    .section {
      flex-direction: column;
    }
    .section-text,
    .section-img {
      max-width: 100%;
      margin-bottom: 20px;
    }

    .section-btn {
      max-width: 100%;
    }

    .contact {
      background-image: url(/images/bannerReal.png);
      background-size: cover;
      background-repeat: no-repeat;
      height: 400px;
      width: 100%;
      margin-top: 120px;
      margin-bottom: 100px;
      background-position: center;
    }

    .contactate {
      padding-top: 272px;
      text-align: center;
      color: #112e04;
      text-transform: uppercase;
      font-size: 22px;
      line-height: 200px;
      font-weight: 200;
    }

    .form-contact {
      width: 90%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    .message {
      width: 100%;
    }

    .form-contact {
      background: #f1f1f1;
      padding: 0 0 70px 0;
    }

    .form-contact p {
      font-size: 1.3rem;
      font-weight: bold;
      color: #11641f;
    }

    .form-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: stretch;
    }

    .form {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
    }

    .form-control {
      width: 600px;
    }

    .form-contact .form-container .form-control {
      background: transparent;
      border: none;
      color: #77be05;
      margin-bottom: 15px;
      border-bottom: solid 1px #77be05;
      border-radius: 0;
      width: 100%;
    }

    .form-contact .form-container .btn-send {
      color: #07dc3c;
      background: #fff;
      border-radius: 8px;
      font-weight: 800;
      padding: 8px 50px;
      float: left;
    }

    .footer {
      flex-direction: column;
      width: 87%;
    }

    .footer a {
      margin: 10px 0;
    }
  }
}
